@font-face {
    font-family: hand;
    src: url(hand.ttf);
}
canvas{
    position: absolute;
    top: 0;
    height: 94.5%;
    background-color: white;
    cursor:crosshair
}
body{
    background-color: gray;
}
#main{

    display:none;
}
#leftmenu{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: lightgray;
}
#rightmenu{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: lightgray;
}
*{
    font-family: hand;
    font-size: small;
    font-weight: bolder;
}
p{
    user-select: none;
}
button{
    width: 100px;
    cursor: pointer;
    background-color: lightgray;
}
#FPS{
    position: absolute;
    top: 0;
    right: 0;
}
#hidden{
    display: none;
}
#leftmenu{
    overflow: scroll;
}
#rightmenu{
    overflow: scroll;
}
/*
#bsp{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: xx-small;
}*/
.tinytxt{
    font-size: xx-small;
}
.idk{
    margin: 2.5%;
    background-color: gray;
    border: 5px solid white;
    border-radius: 5px;
}
#settingsbtn{
    position: absolute;
    right: 5px;
    bottom: 10px;
    width: 50px;
    height: 50px;
}
#consolebtn{
    position: absolute;
    right: 5px;
    bottom: 70px;
    width: 50px;
    height: 50px;
}
#settings{
    display: none;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 20%;
    background-color: gray;
    border: 5px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}
#console{
    display: none;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 30%;
    background-color: gray;
    border: 5px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}
h1{
    font-size: xx-large;
}
#xstbtn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    font-size:large;
    background-color: red;
}
#lbg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#lrt{
    position: absolute;
    top: 500px;
    left: 45%;
    right: 45%;
}
#crv button{
    width:21px;
    height: 21px;
}

#crv{
    display: none;
}

.section2{
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px;
}
.hidden{
    display: none;
}
#bottommenu{
    position: absolute;
    bottom: 0;
    left: 300px;
    right: 300px;
    height: 54px;
    background-color: rgb(215, 225, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow-x: scroll;
    overflow-y: hidden;
}
#bottommenu button{
    width: 150px;
    height: 50px;
    margin: 2px;
    background-color: white;
}
#bottommenu img{
    width: 46px;
    height: 46px;
    cursor: pointer;
}
.popup{
    display: none;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 30%;
    background-color: gray;
    border: 5px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}
.popup canvas{
    width: 90%;

    position: relative;
    left: 5%;
    top: 5%;
    bottom: 5%;
    cursor: crosshair;
    border-radius: 10px;
}
#loadingdiv{
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:100%;
}
#examples{
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    bottom: 30%;
    right: 30%;
    background-color: gray;
    border: 5px solid black;
    border-radius: 10px;
    overflow-x: hidden;
}
#excontain{
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 10px;
    padding: 10px;
    top:40px;
    bottom: 10px;
    right: 10px;
    left:10px;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
}
#examples h2{
    text-align: center;
    font-size: large;
}
#excontain .thing{
    /* remove inline-block; use fixed flex-basis so items stay in one horizontal row */
    display: block;
    flex: 0 0 200px; /* fixed width */
    height: calc(100% - 20px);
    margin: 0; /* optional: use gap on container instead */
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgray;
    overflow-y: scroll;
}
#excontain .thing .thingtitle{
    font-size: 20px;
    margin: 0%;
}
#excontain .thing .thingbtn{
    height: 20px;
    margin: 0%;
}
#excontain .thing img{
    height: calc(100% - 80px);
    margin: 0%;
    border: 2px solid black;
    border-radius: 5px;
}
.closebtn{
    
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    font-size:large;
    background-color: red;
}
#outls{
    background-color: black;
    color: white;
    height: 200px;
    padding: 10px;
    overflow-y: scroll;
}